<app-breadcrumb [title]="'Knob Chart'" [items]="['Chart']" [active_item]="'Knob Chart'"></app-breadcrumb>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 xl-50 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Angle Offset</h5>
        </div>
        <div class="card-body">
          <div class="knob-block text-center" id="profit">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Disable Display Input</h5>
        </div>
        <div class="card-body">
          <div class="knob-block text-center" id="displayInputDisable">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Cursor Mode</h5>
        </div>
        <div class="card-body">
          <div class="knob-block text-center" id="cursormode">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Display Previous Value</h5>
        </div>
        <div class="card-body">
          <div class="knob-block text-center" id="displayPrevious">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Angle Offset & Arc</h5>
        </div>
        <div class="card-body">
          <div class="knob-block text-center" id="offsetArc">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 xl-50 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>4-digit, step 0.1</h5>
        </div>
        <div class="card-body">
          <div class="knob-block text-center" id="digitstep">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->