<div class="dashboard-content py-4">
  <div class="container">
    <div class="profile-content">
      <form
        (ngSubmit)="onSubmit(f)"
        #f="ngForm"
        class="messages-form"
        enctype="multipart/form-data"
      >
        <div class="card">
          <div class="card-header">
            <h4>Basic information</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="col-form-label">Nom du bien <span>*</span></label>
              <input
                type="text"
                class="form-control pass-input"
                name="nom"
                [(ngModel)]="form.nom"
                placeholder="Nom"
              />
            </div>

            <div class="form-group">
              <label class="col-form-label"
                >Description du bien <span>*</span></label
              >
              <textarea
                rows="6"
                name="description"
                [(ngModel)]="form.description"
                class="form-control listingdescription"
                placeholder="Description"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Les commodites</h4>
          </div>
          <div class="card-body">
            <br />
            <div class="row social-info">
              <!-- <div class="col-lg-6 col-md-6"> -->
              <div class="form-group formlast-input lat-input">
                <label class="col-form-label">Commodites <span>*</span></label>
                <div class="pass-group group-img">
                  <div class="row">
                    <div
                      class="col-lg-4 col-md-6"
                      *ngFor="let item of les_commodite"
                    >
                      <ul>
                        <li>
                          <label class="custom_check">
                            <input
                              type="checkbox"
                              [(ngModel)]="item.selected"
                              [value]="item.id"
                              (change)="onChangeCommodite()"
                              name="commodite"
                            />
                            <span class="checkmark"></span> {{ item.nom }}
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>Basic information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- statut -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label class="col-form-label">Statut <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      (change)="onStatutChange($event)"
                      [(ngModel)]="form.statut"
                      name="statut"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of status" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Type -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label class="col-form-label">Type <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      [(ngModel)]="form.type"
                      name="type"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of typebien" [value]="item.id">
                        {{ item.nom }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="form-group formlast-input">
                  <label class="col-form-label">Chambres <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      [(ngModel)]="form.chambre"
                      name="chambre"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of valuesSelect" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <!-- <div class="row"> -->
              <!-- prix du bien -->

              <!-- Nombre de salon -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label class="col-form-label"
                    >Nombre de salon <span>*</span></label
                  >
                  <div class="pass-group group-img">
                    <select
                      [(ngModel)]="form.nb_piece"
                      name="nb_piece"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of valuesSelect" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- </div> -->

              <!-- <div class="row"> -->
              <!-- Nombre de cuisine -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group formlast-input lat-input">
                  <label class="col-form-label">Cuisines <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      [(ngModel)]="form.cuisine"
                      name="cuisine"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of valuesSelect" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Nombre de toilette -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group formlast-input">
                  <label class="col-form-label">Toilette <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      [(ngModel)]="form.toilette"
                      name="toilette"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of valuesSelect" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Nombre de chambre -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label class="col-form-label"
                    >Prix du bien <span>*</span></label
                  >
                  <div class="pass-group group-img">
                    <input
                      type="number"
                      pattern="[0-9]"
                      name="prix"
                      [(ngModel)]="form.prix"
                      class="form-control pass-input"
                      required
                      aria-required="true"
                      placeholder="FCFA"
                    />
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <br />

              <!-- <div class="row"> -->

              <!-- Nombre de surface -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label class="col-form-label"
                    >Surface du bien <span>*</span></label
                  >
                  <input
                    type="number"
                    pattern="[0-9]"
                    name="surface"
                    [(ngModel)]="form.surface"
                    class="form-control pass-input"
                    required
                    aria-required="true"
                    placeholder="000000"
                  />
                </div>
              </div>
              <!-- </div> -->
              <!-- <div class="row"> -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group" *ngIf="selectedStatut === 'A louer'">
                  <label class="col-form-label">Periode <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      [(ngModel)]="form.periode"
                      name="periode"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of periode" [value]="item.id">
                        {{ item.nom }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4>Location information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- Pays  -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label class="col-form-label">Pays <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      class="form-control"
                      [ngModel]="selectedValue"
                      name="pays"
                      (change)="onChange($event.target)"
                    >
                      <option value="pays" selected>pays</option>
                      <option *ngFor="let item of pays" [value]="item.nom">
                        {{ item.nom }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Region  -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label class="col-form-label">Region <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      name="region"
                      class="form-control"
                      id=""
                      [ngModel]="selectedValueR"
                      (change)="onChangeRegion($event.target)"
                    >
                      <option *ngFor="let item of regions" [value]="item.nom">
                        {{ item.nom }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Commune  -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label class="col-form-label">Commune <span>*</span></label>
                  <div class="pass-group group-img">
                    <select
                      [(ngModel)]="form.commune"
                      name="commune"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of communes" [value]="item.id">
                        {{ item.nom }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Quartier  -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <label class="col-form-label"
                      >Quartier <span>*</span></label
                    >
                    <input
                      type="text"
                      name="quartier"
                      [(ngModel)]="form.quartier"
                      class="form-control pass-input"
                      placeholder="Quartier"
                    />
                  </div>
                </div>
              </div>

              <!-- Rue  -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <label class="col-form-label">Rue <span>*</span></label>
                    <input
                      name="rue"
                      [(ngModel)]="form.rue"
                      type="text"
                      class="form-control pass-input"
                      placeholder="Rue"
                    />
                  </div>
                </div>
              </div>
              <!-- Porte  -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group formlast-input">
                  <label class="col-form-label">Porte <span>*</span></label>
                  <input
                    type="number"
                    pattern="[0-9]"
                    name="porte"
                    [(ngModel)]="form.porte"
                    class="form-control pass-input"
                    placeholder="9999"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- LA PARTIE MAP  -->
        <div class="card">
          <div class="card-header">
            <h4>Choisir l'emplacement du bien sur la map</h4>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="listing-map">
                <div id="map" style="width: 100%; height: 32vw"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="col-form-label">Latitude</label>
                <input
                  type="text"
                  class="form-control"
                  readonly
                  placeholder="Latitude"
                  name="latitude"
                  [(ngModel)]="form.latitude"
                />
              </div>
              <div class="form-group">
                <label class="col-form-label">Longitude</label>
                <input
                  type="text"
                  class="form-control"
                  readonly
                  placeholder="Longitude"
                  name="longitude"
                  [(ngModel)]="form.longitude"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="card media-section">
          <div class="card-header">
            <h4>Media Information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="featured-img1">
                <h6 class="media-title">Images biens <span>*</span></h6>
                <div class="media-image row mb-3">
                  <div
                    *ngFor="let imageUrl of image; let i = index"
                    class="image-container monImage m-1 col-md-2"
                  >
               
                      <img class=" monImage "[src]="imageUrl" alt="Image {{ i }}" />
                      <button class="close-button " (click)="removeImage(i)">
                        <i class="fa fa-close"></i>
                      </button>
              
                  </div>
                </div>
              </div>
              <div class="settings-upload-btn">
                <input
                  type="file"
                  id="photo"
                  name="photo"
                  (change)="onFileSelected($event)"
                  multiple
                  class="hide-input image-upload"
                  [disabled]="maxImageCount >= 8"
                  accept=".png, .jpeg, .jpg, .svg"
                />
                <label for="file" class="file-upload">Ajouter l'image</label>
              </div>
            </div>
          </div>
          <div *ngIf="isSuccess" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Ajouter bien</button>
      </form>
    </div>
  </div>
</div>
<!-- /Profile Content -->
