
  
  .media-image {
    position: relative;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }
  
  .close-icon {
    font-size: 1.5em;
    color: red;
  }
  .image-container img {
    max-width: 100%; /* Redimensionne l'image pour qu'elle s'adapte à la largeur du conteneur */
    height: auto; /* Maintient le rapport d'aspect de l'image */
  }
  span{
    color: red;
  }
.monImage{
    // width: 100%;
    height: 150px;
    img{
        width: 100% !important;
        height: 150px !important;  
    }

}
button {
    i{
        color: red;
        margin-left: 4% !important;
        margin-top: 4% !important;
    }
}