<!-- Container-fluid starts-->
<div class="container-fluid product-wrapper py-4" [class.sidebaron]="openSidebar">
  <div class="product-grid ">
    <div class="feature-products">
      <div class="row">
        <div class="col-md-6 products-total">
        
          <span class="d-none-productlist filter-toggle" (click)="sidebarToggle()">
            Filters
            <span class="ms-2">
              <i class="toggle-data" data-feather="chevron-down"></i>
            </span>
          </span>
          <!-- <div class="grid-options d-inline-block">
            <ul>
              <li (click)="grid2s()">
                <a class="product-2-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-1 bg-primary"></span><span class="line-grid line-grid-2 bg-primary"></span></a>
              </li>
              <li (click)="grid3s()">
                <a class="product-3-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-3 bg-primary"></span><span class="line-grid line-grid-4 bg-primary"></span><span class="line-grid line-grid-5 bg-primary"></span></a>
              </li>
              <li (click)="gridOpens()">
                <a class="product-4-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-6 bg-primary"></span><span class="line-grid line-grid-7 bg-primary"></span><span class="line-grid line-grid-8 bg-primary"></span><span class="line-grid line-grid-9 bg-primary"></span></a>
              </li>
              <li (click)="grid6s()">
                <a class="product-6-layout-view" href="javascript:void(0);"
                  ><span class="line-grid line-grid-10 bg-primary"></span><span class="line-grid line-grid-11 bg-primary"></span><span class="line-grid line-grid-12 bg-primary"></span><span class="line-grid line-grid-13 bg-primary"></span><span class="line-grid line-grid-14 bg-primary"></span
                  ><span class="line-grid line-grid-15 bg-primary"></span
                ></a>
              </li>
            </ul>
          </div> -->
          
        </div>
        <div class="col-md-6 text-sm-end">
          <span class="f-w-600 m-r-5">Showing Products 1 - 24 Of 200 Results</span>
          <div class="select2-drpdwn-product select-options d-inline-block">
            <select class="form-control btn-square" name="select">
              <option value="opt1">Featured</option>
              <option value="opt2">Lowest Prices</option>
              <option value="opt3">Highest Prices</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-4">
          <div class="product-sidebar">
            <div class="filter-section">
              <div class="card">
                <div class="card-header" (click)="sidebarToggle()">
                  <h6 class="mb-0 f-w-600">
                    Filters<span class="pull-right"><i class="fa fa-chevron-down toggle-data"></i></span>
                  </h6>
                </div>
                <div class="left-filter">
                  <div class="card-body filter-cards-view animate-chk">
                    <div class="product-filter">
                      <h6 class="f-w-600">Category</h6>
                      <div class="checkbox-animated mt-0">
                        <label class="d-block" for="edo-ani5"> <input class="radio_animated" id="edo-ani5" type="radio" data-original-title="" title="" />Man Shirt </label>
                        <label class="d-block" for="edo-ani6"> <input class="radio_animated" id="edo-ani6" type="radio" data-original-title="" title="" />Man Jeans </label>
                        <label class="d-block" for="edo-ani7"> <input class="radio_animated" id="edo-ani7" type="radio" data-original-title="" title="" />Woman Top </label>
                        <label class="d-block" for="edo-ani8"> <input class="radio_animated" id="edo-ani8" type="radio" data-original-title="" title="" />Woman Jeans </label>
                        <label class="d-block" for="edo-ani9"> <input class="radio_animated" id="edo-ani9" type="radio" data-original-title="" title="" />Man T-shirt </label>
                      </div>
                    </div>
                    <div class="product-filter">
                      <h6 class="f-w-600">Brand</h6>
                      <div class="checkbox-animated mt-0">
                        <label class="d-block" for="chk-ani"> <input class="checkbox_animated" id="chk-ani" type="checkbox" data-original-title="" title="" /> Levi's </label>
                        <label class="d-block" for="chk-ani1"> <input class="checkbox_animated" id="chk-ani1" type="checkbox" data-original-title="" title="" />Diesel </label>
                        <label class="d-block" for="chk-ani2"> <input class="checkbox_animated" id="chk-ani2" type="checkbox" data-original-title="" title="" />Lee </label>
                        <label class="d-block" for="chk-ani3"> <input class="checkbox_animated" id="chk-ani3" type="checkbox" data-original-title="" title="" />Hudson </label>
                        <label class="d-block" for="chk-ani4"> <input class="checkbox_animated" id="chk-ani4" type="checkbox" data-original-title="" title="" />Denizen </label>
                        <label class="d-block" for="chk-ani5"> <input class="checkbox_animated" id="chk-ani5" type="checkbox" data-original-title="" title="" />Spykar </label>
                      </div>
                    </div>
                    <div class="product-filter slider-product">
                      <h6 class="f-w-600">Colors</h6>
                      <div class="color-selector">
                        <ul>
                          <li class="white"></li>
                          <li class="gray"></li>
                          <li class="black"></li>
                          <li class="orange"></li>
                          <li class="green"></li>
                          <li class="pink"></li>
                          <li class="yellow"></li>
                          <li class="blue"></li>
                          <li class="red"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-filter text-center"><img class="img-fluid banner-product" src="assets/images/ecommerce/banner.jpg" alt="" data-original-title="" title="" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-md-8">
          <form>
            <div class="form-group m-0"><input class="form-control" type="search" placeholder="Search.." data-original-title="" title="" /><i class="fa fa-search"></i></div>
          </form>
        </div>
      </div>
    </div>
    <div class="product-wrapper-grid" [class.list-view]="listView">
      <div class="row">
        <div [class.col-xl-3]="col_xl_3" [class.col-xl-4]="xl_4" [class.col-sm-3]="col_sm_3" [class.col-xl-4]="col_xl_4" [class.col-sm-4]="col_sm_4" [class.col-xl-6]="col_xl_6" [class.col-sm-6]="col_sm_6" [class.col-xl-12]="col_xl_12" [class.col-xl-2]="col_xl_2" *ngFor="let blogs of tableItem$ | async;">
          <div class="card">
            <div class="product-box">
              <div class="product-img">
                <!-- <div class="ribbon ribbon-danger" *ngIf="product.status == 'sale'">{{ product.status }}</div> -->
                <!-- <div class="ribbon ribbon-success ribbon-right" *ngIf="product.status == '50%'">{{ product.status }}</div> -->
                <img class="img-fluid" src="{{ generateImageUrl(blogs.photo) }}" alt="" />
                <div class="product-hover">
                  <ul>
                    <!-- <li>
                      <a [routerLink]="['/ecommerce/cart']"><i class="icon-shopping-cart"></i></a>
                    </li> -->
                    <!-- <li>
                      <a (click)="openProductDetail(content, product)"><i class="icon-eye"></i></a>
                    </li> -->
                    <ng-template #content let-modal>
                      <div class="modal-body" style="padding: 0%">
                        <app-quick-view [productDetail]="productDetail"></app-quick-view>
                        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                      </div>
                    </ng-template>
                  </ul>
                </div>
              </div>
              <!-- <div class="modal fade" id="exampleModalCenter16">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="product-box row">
                        <div class="product-img col-lg-6"><img class="img-fluid" src="{{ product.img }}" alt="" /></div>
                        <div class="product-details col-lg-6 text-start">
                          <a href="e-commerce/product-page">
                            <h4>{{ product.name }}</h4></a
                          >
                          <div class="product-price">
                            $26.00
                            <del>$35.00</del>
                          </div>
                          <div class="product-view">
                            <h6 class="f-w-600">Product Details</h6>
                            <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                          </div>
                          <div class="product-size">
                            <ul>
                              <li>
                                <button class="btn btn-outline-light" type="button">M</button>
                              </li>
                              <li>
                                <button class="btn btn-outline-light" type="button">L</button>
                              </li>
                              <li>
                                <button class="btn btn-outline-light" type="button">Xl</button>
                              </li>
                            </ul>
                          </div>
                          <div class="product-qnty">
                            <h6 class="f-w-600">Quantity</h6>
                            <fieldset>
                              <div class="input-group">
                                <input class="touchspin text-center" type="text" value="5" />
                              </div>
                            </fieldset>
                            <div class="addcart-btn"><a class="btn btn-primary me-3" href="e-commerce/cart">Add to Cart </a><a class="btn btn-primary" href="e-commerce/product-page">View Details</a></div>
                          </div>
                        </div>
                      </div>
                      <button class="btn-close" type="button" aria-label="Close"></button>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="product-details">
                <a href="ecommerce/product-page">
                  <h4>{{ blogs.titre }}</h4></a
                >
                <p>{{ blogs.description }}</p>
                <!-- <div class="product-price">
                  ${{ product.price }}
                  <del>${{ product.discountPrice }}</del>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3 mb-4">
          <select class="form-select" style="width: auto;color: #2F2F3B;" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="4">Afficher 4 éléments</option>
            <option [ngValue]="8">Afficher 8 éléments</option>
            <option [ngValue]="12">Afficher 12 éléments</option>
    
            <option [ngValue]="service.total$ | async">Tout afficher</option> 
          </select>
          <ngb-pagination class="ms-3" [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> </ngb-pagination>
        </div>
    
      </div>
    </div>
  </div>
</div>
