<app-breadcrumb [title]="'Basic'" [items]="['Tables', 'Data Tables']" [active_item]="'Basic'"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>La liste des agents avec leurs agences</h5>
        </div>
        
        <div class="card-body custom-datatable noscroll">
          <div class="custom-datatable table-responsive">
            <div class=" row mb-2">
              <!-- Ajoutez le module FormsModule dans votre module Angular -->
              <div class="col-md-6">
                <select class="form-control" style="width: 70%; margin-right: auto;" [(ngModel)]="searchText">
                  <option value="">Tout</option>
                  <!-- Option par défaut "All" -->
                  <option  value="A vendre">
                 A vendre
                  </option>
                  <option  value="A louer">
                    A vendre
                     </option>
                  
                </select>
              </div>
              <div class="col-md-6">
                <!-- <div class="form-control" style="width: 70%;"> -->
  
                  <div class="input-group form-control" style="width: 70%; height: 90%; margin-left: auto;">
                    <div class="input-group-prepend" style="border: none;">
                      <span class="input-group-text" style="border: none;"><i class="fa fa-search"></i></span>
                    </div>
                    <input
                      class="form-control" style="border: none;"
                      type="text"
                      [(ngModel)]="searchText"
                      autocomplete="off"
                      placeholder="Chercher un bien ..."
                    />
                  </div>
                  
                <!-- </div> -->
              </div>
            <table class="table">
              <thead style="background-color: red;">
                <tr>
                  <th scope="col" sortable="name" (sort)="onSort($event)">Nom</th>
                  <th scope="col" sortable="startDate">Email</th>
                  <th scope="col"  (sort)="onSort($event)">Telephone</th>
                  <th scope="col" sortable="office" (sort)="onSort($event)">Agence</th>
                  <th scope="col" sortable="Budget" (sort)="onSort($event)">Email agence</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let item? of agents | async"> -->
                <tr *ngFor="let item of tableItem$ | async ">

                  <td scope="row">
                    <img class="img-40 me-2" src="{{ generateImageUrl(item?.photo) }}" alt="" />
                    <ngb-highlight [result]="item?.username" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item?.email" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item?.telephone" [term]="service.searchTerm"></ngb-highlight>
                  </td>
              
                 
                  <td>
                    <ngb-highlight [result]="item.agence.nom" [term]="service.searchTerm"></ngb-highlight>
                  </td>
 
                  <td>
                    <ngb-highlight [result]="item.agence.email" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <div class="action " style="align-items: center;">
                      <li class="delete" (click)="supprimer(item?.id)">
                        <i class="icon-trash"></i>
                      </li>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between mt-3">
              <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="2">Afficher 2 éléments</option>
                <option [ngValue]="4">Afficher 4 éléments</option>
                <option [ngValue]="6">Afficher 6 éléments</option>

                <option [ngValue]="service.total$ | async">Tout afficher</option> 
              </select>
              <ngb-pagination class="ms-3" [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize"> </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->
