button:hover {
    background-color: #51515b !important;
    box-shadow: rgba(172, 132, 1, 0.991) 0px 2px 10px;
    // span{
    //   color: white;
    // }
    color: white !important;
  }
  .login-card {
    background: rgba(233 139 17) !important; /* Utilisez rgba pour définir la couleur de fond avec une opacité de 50% */
    background-image: url("../../../../assets/images/login/banner-05.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .monBlog{
    background-color: #e98b11;
    span{
      color: white;
    }
  }
  button{
    color: white !important;
  }
  