.table {
  .text-inherit {
    color: #000 !important;
  }
}
.monForm{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.show-hide {
  i{
    color:#2F2F3B;
  }
}
.monBlog{
  background-color: #e98b11;

    color: white;
 
}