<app-breadcrumb [title]="'Tabbed'" [items]="['Card']" [active_item]="'Tabbed'"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Simple Tab</h5>
				</div>
				<div class="card-body">
					<ngx-tabset type="pills" class="tabbed-card nav-primary">
						<ngx-tab tabTitle="Home" class="pull-right nav nav-primary">
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever
									since the 1500s, when an unknown printer took a galley of type and scrambled it
									to make a type specimen book. It has survived not only five centuries, but also
									the leap into electronic typesetting, remaining essentially unchanged. It was
									popularised in the 1960s with the release of Letraset sheets containing Lorem
									Ipsum passages, and more recently with desktop publishing software like Aldus
									PageMaker including versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
						<ngx-tab tabTitle="Profile"  nav class="pull-right nav-pills nav-primary"  [bypassDOM]="true">
						  <ng-template>
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						  </ng-template>
						</ngx-tab>
						<ngx-tab tabTitle="Contact" nav class="pull-right nav-pills nav-primary" >
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
					</ngx-tab>
					</ngx-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Tab With Icon</h5>
				</div>
				<div class="card-body">
					<ngx-tabset type="pills" class="tabbed-card nav-secondary">
							<ngx-tab tabTitle="Home" class="justify-content-start nav">
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
										Ipsum is simply dummy text of the printing and typesetting industry. text ever
										since the 1500s, when an unknown printer took a galley of type and scrambled it
										to make a type specimen book. It has survived not only five centuries, but also
										the leap into electronic typesetting, remaining essentially unchanged. It was
										popularised in the 1960s with the release of Letraset sheets containing Lorem
										Ipsum passages, and more recently with desktop publishing software like Aldus
										PageMaker including versions of Lorem Ipsum
									</p>
								</div>
							</ngx-tab>
							<ngx-tab tabTitle="Profile"  nav class="pull-right nav-pills nav-secondary"  [bypassDOM]="true">
							<ng-template>
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
										text of the printing and typesetting industry. since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type specimen book. It
										has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
							</ng-template>
							</ngx-tab>
							<ngx-tab tabTitle="Contact" nav class="pull-right nav-pills nav-secondary" >
								<div class="tab-pane fade show">
									<p>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
										text of the printing and typesetting industry. since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type specimen book. It
										has survived not only five centuries, but also the leap into electronic
										typesetting, remaining essentially unchanged. It was popularised in the 1960s
										with the release of Letraset sheets containing Lorem Ipsum passages, and more
										recently with desktop publishing software like Aldus PageMaker including
										versions of Lorem Ipsum
									</p>
								</div>
						</ngx-tab>
					</ngx-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Color Tab</h5>
				</div>
				<div class="card-body">
					<ngx-tabset type="pills" class="tabbed-card nav-info">
						<ngx-tab tabTitle="Home" class="justify-content-start nav">
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever
									since the 1500s, when an unknown printer took a galley of type and scrambled it
									to make a type specimen book. It has survived not only five centuries, but also
									the leap into electronic typesetting, remaining essentially unchanged. It was
									popularised in the 1960s with the release of Letraset sheets containing Lorem
									Ipsum passages, and more recently with desktop publishing software like Aldus
									PageMaker including versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
						<ngx-tab tabTitle="Profile"  nav class="pull-right nav-pills nav-info"  [bypassDOM]="true">
						<ng-template>
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						</ng-template>
						</ngx-tab>
						<ngx-tab tabTitle="Contact" nav class="pull-right nav-pills nav-info" >
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
					</ngx-tab>
					</ngx-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Color Option</h5>
				</div>
				<div class="card-body">
					<ngx-tabset type="pills" class="tabbed-card nav-success">
						<ngx-tab tabTitle="Home" class="justify-content-start nav">
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever
									since the 1500s, when an unknown printer took a galley of type and scrambled it
									to make a type specimen book. It has survived not only five centuries, but also
									the leap into electronic typesetting, remaining essentially unchanged. It was
									popularised in the 1960s with the release of Letraset sheets containing Lorem
									Ipsum passages, and more recently with desktop publishing software like Aldus
									PageMaker including versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
						<ngx-tab tabTitle="Profile"  nav class="pull-right nav-pills nav-success"  [bypassDOM]="true">
						<ng-template>
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						</ng-template>
						</ngx-tab>
						<ngx-tab tabTitle="Contact" nav class="pull-right nav-pills nav-success" >
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
					</ngx-tab>
					</ngx-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Material tab</h5>
				</div>
				<div class="card-body">
					<ngx-tabset type="pills" class="tabbed-card borderb-tab-primary">
						<ngx-tab tabTitle="Home" class="justify-content-start nav">
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever
									since the 1500s, when an unknown printer took a galley of type and scrambled it
									to make a type specimen book. It has survived not only five centuries, but also
									the leap into electronic typesetting, remaining essentially unchanged. It was
									popularised in the 1960s with the release of Letraset sheets containing Lorem
									Ipsum passages, and more recently with desktop publishing software like Aldus
									PageMaker including versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
						<ngx-tab tabTitle="Profile"  nav class="pull-right nav-pills nav-primary"  [bypassDOM]="true">
						<ng-template>
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						</ng-template>
						</ngx-tab>
						<ngx-tab tabTitle="Contact" nav class="pull-right nav-pills nav-primary" >
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
					</ngx-tab>
					</ngx-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Material tab with icon</h5>
				</div>
				<div class="card-body">
					<ngx-tabset type="pills" class="tabbed-card borderb-tab-warning">
						<ngx-tab tabTitle="Home" class="justify-content-start nav">
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever
									since the 1500s, when an unknown printer took a galley of type and scrambled it
									to make a type specimen book. It has survived not only five centuries, but also
									the leap into electronic typesetting, remaining essentially unchanged. It was
									popularised in the 1960s with the release of Letraset sheets containing Lorem
									Ipsum passages, and more recently with desktop publishing software like Aldus
									PageMaker including versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
						<ngx-tab tabTitle="Profile"  nav class="pull-right nav-pills nav-primary"  [bypassDOM]="true">
						<ng-template>
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						</ng-template>
						</ngx-tab>
						<ngx-tab tabTitle="Contact" nav class="pull-right nav-pills nav-primary" >
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
					</ngx-tab>
					</ngx-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Material tab with color</h5>
				</div>
				<div class="card-body">
					<ngx-tabset type="pills" class="tabbed-card borderb-tab-secondary">
						<ngx-tab tabTitle="Home" class="justify-content-start nav">
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever
									since the 1500s, when an unknown printer took a galley of type and scrambled it
									to make a type specimen book. It has survived not only five centuries, but also
									the leap into electronic typesetting, remaining essentially unchanged. It was
									popularised in the 1960s with the release of Letraset sheets containing Lorem
									Ipsum passages, and more recently with desktop publishing software like Aldus
									PageMaker including versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
						<ngx-tab tabTitle="Profile"  nav class="pull-right nav-pills nav-primary"  [bypassDOM]="true">
						<ng-template>
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						</ng-template>
						</ngx-tab>
						<ngx-tab tabTitle="Contact" nav class="pull-right nav-pills nav-primary" >
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
					</ngx-tabset>
				</div>
			</div>
		</div>
		<div class="col-xl-6 xl-100 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h5 class="pull-left">Material tab with color</h5>
				</div>
				<div class="card-body">
					<ngx-tabset type="pills" class="tabbed-card borderb-tab-success">
						<ngx-tab tabTitle="Home" class="justify-content-start nav">
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
									Ipsum is simply dummy text of the printing and typesetting industry. text ever
									since the 1500s, when an unknown printer took a galley of type and scrambled it
									to make a type specimen book. It has survived not only five centuries, but also
									the leap into electronic typesetting, remaining essentially unchanged. It was
									popularised in the 1960s with the release of Letraset sheets containing Lorem
									Ipsum passages, and more recently with desktop publishing software like Aldus
									PageMaker including versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
						<ngx-tab tabTitle="Profile"  nav class="pull-right nav-pills nav-primary"  [bypassDOM]="true">
						<ng-template>
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						</ng-template>
						</ngx-tab>
						<ngx-tab tabTitle="Contact" nav class="pull-right nav-pills nav-primary" >
							<div class="tab-pane fade show">
								<p>
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. dummy
									text of the printing and typesetting industry. since the 1500s, when an unknown
									printer took a galley of type and scrambled it to make a type specimen book. It
									has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s
									with the release of Letraset sheets containing Lorem Ipsum passages, and more
									recently with desktop publishing software like Aldus PageMaker including
									versions of Lorem Ipsum
								</p>
							</div>
						</ngx-tab>
					</ngx-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Container-fluid Ends -->